<section id="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light ">
   <img class="img-logo" src="./../assets/img/Logo.png"/>  
   <a class="navbar-brand" href="#">Clearwater Drilling</a>
   
   
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item ">
         <a class="nav-link" href="#top">HOME</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#services">SERVICES</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#about">ABOUT</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#blog">GALLERY</a>
       </li>
         <li class="nav-item">
         <a class="nav-link" href="#requestquote">REQUEST QUOTE</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#contact">CONTACT</a>
       </li>
       <li class="nav-item s-frame">
        <a>
          <iframe class="" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fthabaniclearwaterinfo%2F&layout=button_count&size=small&width=89&height=20&appId" width="89" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
          </iframe>
        </a> 
      </li>
   
     </ul>
     <iframe class="l-frame" src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2Fthabaniclearwaterinfo%2F&layout=button_count&size=small&width=89&height=20&appId" width="89" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
     </iframe>
   </div>
 </nav>   
 
 </section>


<section id="services">
  <div class="container">
  <div class="row">
  <div class="col-md-6">
      <h2>Services</h2>
      <div class="about-content" style="text-align: justify;">
  
  Our services are supported by experienced, qualified personnel and a well selected and maintained fleet of rigs, plant and equipment. 
  The fleet of rigs that our water well drillers use has the flexibility to change between RC, Air and Mud Rotary methodologies on site. 
  This provides timely outcomes to meet project schedules and without costly delays. Self-contained camps are available for remote drilling projects.
      </div>
          <button type="button" class="btn btn-primary">Read more>>
      </button>
      </div>
  <div class="col-md-6 skills-bar">
       <p>Borehole Drilling</p>
      <div class="progress">
          <div class="progress-bar" style="width: 90%;">250 Holes</div>
      </div>
      <p>Borehole Repairs</p>
      <div class="progress">
          <div class="progress-bar" style="width: 75%;">75 Repairs</div>
      </div>
      <p>Geological Siting</p>
      <div class="progress">
          <div class="progress-bar" style="width: 80%;">135 Sitings</div>
      </div>
      <p>Pump Installations</p>
      <div class="progress">
          <div class="progress-bar" style="width: 60%;">60 Installations</div>
      </div>
      <p>Tank Installations</p>
      <div class="progress">
          <div class="progress-bar" style="width: 55%;">50 Installations</div>
      </div>
      <p>Borehole Casing</p>
      <div class="progress">
          <div class="progress-bar" style="width: 90%;">250 Casings</div>
      </div>
  </div>
  </div>
  </div>
  </section>

  <section id="About" class="stubborn">
    <div class="container">
         <p style="text-align: center; font-size: 48px;">About</p>
         <div class="row">
             <div class="col-md-3 text-center">
                 <div class="icon">
                  <i class="fa fa-bars"></i>   
                 </div>
                 <h3> Objective</h3>
                 <p>
                   The need for clean water has a huge influence on the production of fresh produce and livestock and day today living in both rural and urban Zimbabwe.
                   We ain to be the epitome of water solutions in the country. 
                </p>
             </div>
             <div class="col-md-3 text-center">
                 <div class="icon">
                  <i class="fa fa-bars"></i>   
                 </div>
                 <h3> Vision</h3>
                 <p >We strive to offer the best borehole or well drilling and borehole installations and support in Zimbabwe that utilizes morden technology to obtain client satisfaction through achieving maximum productivity results.
                 </p>
             </div>
             <div class="col-md-3 text-center">
                 <div class="icon">
                  <i class="fa fa-bars"></i>   
                 </div>
                 <h3> Values</h3>
                 <p>Dedication<br>
                     Innovation<br>
                     Competence<br>
                     Results driven<br>
                     Environmental and Safety conscious</p>
             </div>
             <div class="col-md-3 text-center">
                 <div class="icon">
                  <i class="fa fa-bars"></i>   
                 </div>
                 <h3> Moto</h3>
                 <p >We solve your water problems</p>
             </div>
        </div>
     </div>
 </section>


 <section id="blog">
  <div class="container">
       <h1>Gallery</h1>
       <div class="row education">
           <div class="col-md-4 text-center">
               <div class="icon">
                <i class="fa fa-image"></i>
               </div>
                <h3>Borehole Drilling</h3>
              <img  class="g-image" src="../assets/img/25e1d583-acdc-4259-b55b-8afe0c9e07ee.jpeg"/>
           </div>
           <div class="col-md-4 text-center">
               <div class="icon">
                <i class="fa fa-image"></i>  
               </div>
                <h3>Tank Installation</h3>
                <img  class="g-image" src="../assets/img/IMG_1984.jpeg"/>
           </div>
           <div class="col-md-4 text-center">
               <div class="icon" >
                <i class="fa fa-image"></i>  
               </div>
                <h3>Borehole Casing</h3>
                <img  class="g-image" src="../assets/img/IMG_1988.jpeg"/>
           </div>
             </div>
        </div> 
</section> 

<section id="promo">
  <div class ="container">
      <p>Get Quote!</p>
      <a href="#requestquote"  class="btn btn-primary"> Request Quote </a>
  </div>
  </section>

  <section id="requestquote" style="padding: 8px;">
    <div class="container">
      <div style=" justify-content: center;width: 100%;">
        <h1>Request Quote</h1>
      </div>
        
        <div class="row">
          <div class="contact-form col-md-12 col-xs-12 " >
            <div class="form-group" >
              <input type="text" class="form-control" [(ngModel)]="name" placeholder="Your Name">
         </div>
          <div class="form-group">
              <input type="number" class="form-control" [(ngModel)]="phone" placeholder="Phone no.">
         </div> 
          <div class="form-group">
              <input type="email" class="form-control" [(ngModel)]="email" placeholder="Email ">
         </div> 
          <div class="form-group">
              <textarea class="form-control" rows="4" [(ngModel)]="message" placeholder="Message"></textarea>
         </div>  
          <div style="text-align: center;width: 100%;">
            <button type="submit" class="btn btn-primary" (click)="sendMail()">SEND MESSAGE</button>
          </div>
            </div>  
        </div>
     
     </div>
     

    </section>

    <section id="contact">
      <div class="container"> 
      <h1>Get In Touch</h1>
      <div class="row">
      <div class="col-md-6 col-12 contact-info">
           <div class="follow"><b>Abbress:</b><i class="fa fa-map-marker"></i>Stand No. 16911, Old SPCA Complex, Seke Road, Graniteside, Harare</div>
           <div class="follow"><b>Phone:</b><i class="fa fa-phone"></i>+263 772 385 385 </div>
           <div class="follow"><b>Email:</b><i class="fa fa-envelope-o"></i>tndhlovu77@gmail.com</div>
          <div class="follow"><label><b>Get Social:</b></label>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-youtube-play"></i></a>  
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
      </div>    
      <div class="col-md-6 col-12 map">
        <mgl-map
          [style]="'mapbox://styles/mapbox/streets-v9'"
          [zoom]="[11]"
          [center]="[31.070212, -17.917599]">
        <mgl-marker
        [lngLat]="[31.070212, -17.917599]">
       <img style="width: 32px; height: 32px;" src="./../assets/img/marker.png">
      </mgl-marker>
        </mgl-map>
          <!-- <div style="width: 600px;position: relative;"><iframe width="50%" height="300" style="margin-top: 10px;" src="https://maps.google.com/maps?width=400&amp;height=440&amp;hl=en&amp;q=Stand%20no.%2016911%20%20Old%20SPCA%20Complex%20Seke%20Road%2C%20Graniteside%20Harare+(Clearwater%20Drilling)&amp;ie=UTF8&amp;t=&amp;z=20&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/fr/">gmapgen fr</a> & <a href="https://energiawiatru.eu/">groen gas nederland</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br /> -->
      </div>
      </div>
  </div>
  </section>

  <section id="footer">
    <div class="containter text-center">
        <p>2020 Copyright&copy; Clear Water Drilling</p>
        </div>
    </section>